html,
body,
* {
  margin: 0;
  padding: 0;
}
body {
  font: 12px Helvetica,Arial,sans-serif;
  background: #fff;
  -webkit-text-size-adjust: 100%;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
em {
  font-style: normal;
}
li {
  list-style: none;
}
img {
  border: 0;
  vertical-align: middle;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
p {
  word-wrap: break-word;
}
input, button {
  border: none;
  outline: none;
  outline-offset: 0;
  background-color: transparent;
  padding: 0;
}